# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Visual Studio files and folders
*sdf
*.suo
ipch/
Debug/
Release/
bin/
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app